.class{
    color: lightseagreen;
}
p {
    color: darkgreen;
}
#hp {
    color: darkslategray;
}
#body-class {
    font-family: 'Courier New', Courier, monospace;
    padding: 100px;
    margin: 50px;
}